SERVICE=
BASE_URL=
API_BASE_URL=
TENANT_ID=
TEMPLATE_ID=
SERVICE_EMAIL=
TERMINOLOGY_SINGULAR=
TERMINOLOGY_PLURAL=
SERVICE_API_KEY=
JWT_SIGNING_KEY=
INTERNAL_AUTH_ISSUER=
INTERNAL_AUTH_AUDIENCE=
INTERNAL_AUTH_TOKEN_LIFETIME_MINUTES=10
AUTH_PROVIDER_API_KEY=
